html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.pagination {
    padding-left: 45%;
}

html,
body {
    height: 100%;
}

.form-group {
    margin-bottom: 15px;
}

.attachment-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

    .attachment-input input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        font-size: 100px;
        cursor: pointer;
    }

    .attachment-input .btn {
        margin-right: 10px;
    }

.label-group {
    display: inline;
    text-align: left;
}


@media (min-width: 768px) {
    .widthdesktop {
        width: 33%
    }
}

.removemargin {
    padding: 10px 10px !important
}

.removemargincontainer {
    padding:0px !important
}


.btnLink {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    cursor: pointer;
    font-size:20px
}