﻿@{
    ViewData["Title"] = "Search";
    var Action = ViewBag.Action as string;
    var Controller = ViewBag.Controller as string;
}

<form class="form-inline" action="@Url.Action(Action,Controller)">
    <div class="input-group">
        <input type="text" class="form-control" name="search" value="@ViewBag.Search" placeholder="Search">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                Search
            </button>
        </div>
    </div>
</form>
<hr />