﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">
            <div class="card">
                <div class="card-header">
                    <h4>Change Password</h4>
                </div>
                <div class="card-body removemargin">
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="username">Password:</label>

                            <div class="input-group" id="show_hide_password">
                                <input type="password" class="form-control" name="Password" required="required" placeholder="Enter new password">
                                <div class="input-group-addon">
                                    <a href="" class="btn btn-primary" id="txtbtn">Show</a>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Change</button>
                    }
                    <hr />

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password a').html("");
                    $('#show_hide_password a').html("Show");
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password a').html("");
                    $('#show_hide_password a').html("Hide");
                }
            });
        });
    </script>
                            }