﻿@model IFMApps.Dtos.LoginDto
@{
    ViewData["Title"] = "Login Page";

}
<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">
            <div class="card">
                <div class="card-header text-center">
                    <img src="~/concorde_logo.jpeg" style="width:110px;height:auto"/>
                    <h4>IFM App</h4>
                </div>
                <div class="card-body removemargin">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="username">Personnel Code:</label>
                            @Html.TextBoxFor(o=>o.UserName , new { @class="form-control", @placeholder="Enter username", @required = "required"  })
                            @Html.ValidationMessageFor(o=>o.UserName,"", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            @Html.PasswordFor(o=>o.Password , new { @class="form-control", @placeholder="Enter password", @required = "required"  })
                            @Html.ValidationMessageFor(o=>o.Password,"", new { @class = "text-danger" })

                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="@Url.Action("QRScanner","Pers")" class="btn btn-primary">Test QR</a>
                        <a href="@Url.Action("NFCTagReader","Pers")" class="btn btn-primary">Test NFC</a>

                    }
                    <hr />

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @if (ViewBag.Function != null)
    {
        <script type="text/javascript">
            @Html.Raw(ViewBag.Function)
        </script>
    }
}

