﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">
            <div class="card">
                <div class="card-header">
                    <h4>Firebase Config</h4>
                </div>
                <div class="card-body removemargin">

                    <div class="form-group">
                        <label for="Description">Devices Token:</label>
                        <textarea class="form-control" style="height:150px" id="devicesToken"></textarea>
                        <hr />
                        <button class="btn btn-sm btn-primary" onclick="copyText()">Copy Token</button>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function copyText() {
            // Get the text field
            var copyText = document.getElementById("devicesToken");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);

            SwalAlert("OK","token copied to clipboard","success");
        }
    </script>
}