﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="@Url.Action("SubscribeNotification","Home")" class="btn btn-primary">Subscribe Notification</a>
    <a href="@Url.Action("UnSubscribeNotification","Home")" class="btn btn-primary">Unsubscribe Notification</a>
</div>
