﻿@using System.Security.Claims
@{
    var Role = User.FindFirst(ClaimTypes.Role)?.Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IFMApps</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/lib/datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/icons-webfont@latest/tabler-icons.min.css">

</head>
<body>
    @{
        Html.RenderPartial("_Loading");
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            @{
                if (User.Identity.IsAuthenticated)
                {
                    //var Menu = await menuServices.GetMenuByRole(User.FindFirst(ClaimTypes.Role)?.Value);
                    <div class="container" style="width: 440px;">
                        @{

                            <a class="navbar-brand" asp-area="" asp-controller="Pers" asp-action="Index"><b>IFM</b></a>

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                @{
                                    <ul class="navbar-nav flex-grow-1">
                                        <li class="nav-item">

                                        </li>
                                    </ul>

                                    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0" }))
                                    {
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><b>Logout</b></button>

                                    }

                                }

                            </div>


                        }

                    </div>

                }
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="height:100px">
        <div class="container">
            &copy; 2023 - IFMApps - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/lib/datepicker/moment.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/lib/select2/select2.full.min.js"></script>
    <script src="~/js/html5-qrcode.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (ViewBag.Function != null)
    {
        <script type="text/javascript">
            @Html.Raw(ViewBag.Function)
        </script>
    }

    <script type="module">
                // Import the functions you need from the SDKs you need
                import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
        import { getMessaging, getToken } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-messaging.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyB9xwSyJbx_CuISru4gpjr-C5G3vPWxLiQ",
            authDomain: "ifm-push-notification.firebaseapp.com",
            projectId: "ifm-push-notification",
            storageBucket: "ifm-push-notification.appspot.com",
            messagingSenderId: "683550207698",
            appId: "1:683550207698:web:01553d829c4a27a49e070b",
            measurementId: "G-VTYZ6YZ9SB"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);


        function requestPermission() {
            console.log('Requesting permission...');
            Notification.requestPermission().then((permission) => {
                if (permission === 'granted') {
                    console.log('Notification permission granted.');
                    const messaging = getMessaging(app);
                    getToken(messaging, { vapidKey: 'BO70eTgBmCiZkw-rpHj2WoftgvdYI8jSS5NCLoUJ7wSz_eDPIUxAfCM4sEMn9trZRPf0kpbLHt1eEABNSxhfG-Y' }).then((currentToken) => {
                        if (currentToken) {
                            console.log(currentToken)
                        } else {
                            console.log('No registration token available. Request permission to generate one.');
                        }
                    }).catch((err) => {
                        console.log('An error occurred while retrieving token. ', err);

                    });
                } else {
                    console.log('do not have permission')
                }
            });
        }

        //requestPermission()

    </script>
</body>
</html>
