﻿<style>
    #loading {
        background-color: rgba(192, 192, 192, 0.5);
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999;
        overflow: visible;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

        #loading:before {
            content: '';
            display: block;
            margin: auto;
            height: 2em;
            width: 2em;
            border-radius: 50%;
            border: .25em solid transparent;
            border-top-color: #000;
            animation: loading 1s ease-in-out infinite;
        }

    @@keyframes loading {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .visible {
        visibility: visible;
    }

    .hidden {
        visibility: hidden;
    }

</style>
<div id="loading"></div>

<script>

    function onReady(callback) {
        var intervalId = window.setInterval(function () {
            if (document.getElementsByTagName('body')[0] !== undefined) {
                window.clearInterval(intervalId);
                callback.call(this);
            }
        }, 500);
    }


    function setVisible(selector, visible, form) {
        if (form != null) {
            var ClassForm = form.target.className;
            if (!ClassForm) {
                document.querySelector(selector).className = visible ? 'visible' : 'hidden';
            } else {
                if (!ClassForm.indexOf('ExcludeLoading') == 0) {
                    document.querySelector(selector).className = visible ? 'visible' : 'hidden';
                }
            }
        } else {
            document.querySelector(selector).className = visible ? 'visible' : 'hidden';
        }
    }

    setVisible('#loading', true, null);

    onReady(function () {
        setVisible('#loading', false, null);
    });



</script>