﻿@using System.Data

@model DataSet
@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .rowMultipleQR {
            width: 100%;
        }

        .gridMultipleQR {
            width: 33%;
            float: left;
        }
    </style>

</head>
<body style="font-family:Calibri">

    <div class="row">
        @{
            foreach (DataTable table in Model.Tables)
            {
                int rowIndex = 1;

                <div class="rowMultipleQR">

                    @foreach (DataRow row in table.Rows)
                    {



                            <p class="text-center" style="font-weight:bold;font-size:17px">@row["site"]</p>

                            <div class="text-center" id="QRCode_@rowIndex"></div>

                            <br>
                            <p class="text-center" style="font-size:15px">@row["monitor"]</p>
                            <div style="height:40px"></div>


                 
                        rowIndex++;

                    }
                    <br />
                </div>
            }
        }
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.qrcode.js"></script>
    <script src="~/js/qrcode.js"></script>
    <script>
        $(document).ready(function () {
            var dataList = @Html.Raw(Json.Serialize(Model.Tables[0].AsEnumerable().Select(r => r.ItemArray))); // Convert DataTable to list of arrays
            var rowIndex = 1;
            dataList.forEach(function (dataItem) {
                var QR = dataItem[2];
                GenerateQR("QRCode_" + rowIndex, QR)
                rowIndex++
            });

        });

        function GenerateQR(id, text) {
            console.log(id, text)
            jQuery('#' + id).qrcode({
                text: text,
                width: 200, height: 200
            });
        }
    </script>
</body>
</html>
