﻿@using System.Data

@model DataSet
@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .text-left {
            text-align: left;
        }
    </style>
</head>
<body style="font-family:Calibri">
    @{
        int rowIndex = 0;
        foreach (DataTable table in Model.Tables)
        {
            if (table.Columns.Contains("Label"))
            {
                @foreach (DataColumn col in table.Columns)
                {
                    @foreach (DataRow row in table.Rows)
                    {
                        if (col.ColumnName == "Label")
                        {
                            <h3 class="text-center"><b>@row[col]</b></h3>
                        }
                    }
                }
            }
            else
            {
                <table class="table table-bordered">
                    <thead>
                        <tr style="page-break-inside:avoid">
                            @foreach (DataColumn col in table.Columns)
                            {
                                <th style="text-align:left">@col.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow row in table.Rows)
                        {
                            <tr style="page-break-inside:avoid">
                                @foreach (DataColumn col in table.Columns)
                                {
                                    if (@row[col].ToString().Contains("https://s3"))
                                    {
                                        <td><a href="@row[col]">@row[col]</a></td>
                                    }
                                    else
                                    {
                                        <td>@row[col]</td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>

                if (rowIndex == Model.Tables.Count - 1)
                {
                    <div style="page-break-after:avoid"></div>
                }
                else
                {
                    <div style="page-break-after:always"></div>
                }
            }
            rowIndex++;
        }
    }
</body>
</html>
