﻿@using System.Data

@model DataSet
@{
    ViewData["Title"] = "Admin Point";

}
<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">

            <div class="card">
                <div class="card-body removemargin">

                    <h5>Admin - Point</h5>
                    <hr />
                    <form class="form-inline">
                        <input type="hidden" name="idSite" value="@ViewBag.IdSite" />
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" value="@ViewBag.Search" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr />
                    @{
                        foreach (DataTable table in Model.Tables)
                        {
                            if (table.Columns.Contains("Label"))
                            {
                                @foreach (DataColumn col in table.Columns)
                                {
                                    if (col.ColumnName != "Msg")
                                    {
                                        foreach (DataRow row in table.Rows)
                                        {
                                            <p class="text-center"><b>@row[col]</b></p>
                                        }
                                    }

                                }
                            }
                            else
                            {
                                <div style="height:200px" class="table-responsive overflow-auto">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr style="page-break-inside:avoid">
                                                <th style="text-align:left;"></th>
                                                <th style="text-align:left;"></th>

                                                @foreach (DataColumn col in table.Columns)
                                                {

                                                    if (col.ColumnName.Contains("Name"))
                                                    {
                                                        <th style="text-align:left">@col.ColumnName</th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow row in table.Rows)
                                            {
                                                <tr style="page-break-inside:avoid">
                                                    <td style="text-align:center"><button title="Update QR" class="btnLink" onclick="updateQR(@row["idpoint"])"><i class="ti ti-qrcode"></i></button>                         </td>

                                                    <td style="text-align:center">
                                                        <button title="Update NFC" class="btnLink" onclick="updateNFC('@row["idpoint"]','@row["name"].ToString().Replace("'","")')"><i class="ti ti-nfc"></i></button>
                                                    </td>
                                                    @foreach (DataColumn col in table.Columns)
                                                    {
                                                        if (col.ColumnName.Contains("Name"))
                                                        {
                                                            if (@row[col].ToString().Contains("https://s3"))
                                                            {
                                                                <td><a href="@row[col]" target="_blank">View</a></td>
                                                            }
                                                            else
                                                            {
                                                                <td>@row[col]</td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            }
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>


@Html.Hidden("Latitude")
@Html.Hidden("Longitude")
@section Scripts{
    <script src="~/js/openstreetmap.js"></script>
    <script src="~/js/getlocation.js"></script>
    <script src="~/js/nfcreader.js"></script>

    <script type="text/javascript">
 

        async function updateNFC(idpoint, pointname) {
            if ("NDEFReader" in window) {
                try {
                    const abortController = new AbortController();

                    const ndef = new NDEFReader();
                    await ndef.scan({ signal: abortController.signal });

                    ndef.addEventListener("readingerror", () => {
                        SwalAlert("Update NFC", "Cannot read data from the NFC tag. Try another one?", "error")
                    });

                    swal({
                        title: 'Update NFC',
                        text: 'Tab the NFC card ' + pointname,
                        icon: 'info',
                        timer: 999999,
                        buttons: false,
                        allowOutsideClick: false
                    })

                    ndef.addEventListener("reading", ({ message, serialNumber }) => {
                        $.ajax({
                            url: '@Url.Action("UpdateNFC", "Admin")',
                            type: 'POST',
                            data: { IdPoint: idpoint, NFC: serialNumber },
                            dataType: "JSON",
                            success: function (data) {
                                abortController.abort();
                                console.log(data);
                                if (data.msg == "OK") {
                                    SwalAlertLocationReload(data.msg, data.msg2, 'success');
                                }
                                else {
                                    SwalAlertLocationReload(data.msg, data.msg2, 'error');
                                }
                            }
                        });
                    });
                } catch (error) {
                    SwalAlert("Update NFC", "error : " + error, "error")
                }
            } else {
                SwalAlert("Update NFC", "your browser not supported NFC scanning permission , please use updated version chrome browser", "error")
            }
        }



        function updateQR(idpoint) {
            GetLocation();
            console.log($("#Longitude").val())
            console.log($("#Latitude").val())
            swal({
                title: "Update Coordinates QR",
                text: "Are you sure you want to update the coordinates of this QR code to your current location?",
                icon: "warning",
                buttons: true,
                dangerMode: false,
            }).then((isConfirm) => {
                if (isConfirm) {
                    $.ajax({
                        url: '@Url.Action("UpdatePoint2", "Admin")',
                        type: 'POST',
                        data: { IdPoint: idpoint, lng: $("#Longitude").val(), lat: $("#Latitude").val() },
                        dataType: "JSON",
                        success: function (data) {
                            console.log(data);
                            if (data.msg == "OK") {
                                SwalAlertLocationReload(data.msg, data.msg2, 'success');
                            }
                            else {
                                SwalAlertLocationReload(data.msg, data.msg2, 'error');
                            }
                        }
                    });
                }
            });
        }


        function updateBeacon(idpoint) {

            if (navigator.bluetooth) {
                navigator.bluetooth.requestDevice({ acceptAllDevices: true })
                    .then(device => {
                        // Store the device information for future reference

                        // Pair and connect to the device
                        return device.gatt.connect();
                    })
                    .then(server => {
                        // Device connected, perform further actions as needed
                        console.log('Device connected:', server.device.name);

                        swal({
                            title: "Update Beacon Devices",
                            text: "Do you want to update to beacon devices to this point?",
                            icon: "warning",
                            buttons: true,
                            dangerMode: false,
                        }).then((isConfirm) => {
                            if (isConfirm) {
                                $.ajax({
                                    url: '@Url.Action("UpdatePoint3", "Admin")',
                                    type: 'POST',
                                    data: { IdPoint: idpoint, BeaconId: server.device.id },
                                    dataType: "JSON",
                                    success: function (data) {
                                        console.log(data);
                                        if (data.msg == "OK") {
                                            SwalAlertLocationReload(data.msg, data.msg2, 'success');
                                        }
                                        else {
                                            SwalAlertLocationReload(data.msg, data.msg2, 'error');
                                        }
                                    }
                                });
                            }
                        });



                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            } else {
                SwalAlert("Update beacon", "your browser not supported bluetooth scanning permission , please use updated version chrome browser", "error")
            }






        }
    </script>
}