﻿@using System.Data

@model DataSet
@{
    ViewData["Title"] = "Admin Site";

}
<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">

            <div class="card">
                <div class="card-body removemargin">
                    <h5>Admin - Site</h5>
                    <hr />
                    @await Html.PartialAsync("../PartialView/PageSearchCommon")

                    @{
                        foreach (DataTable table in Model.Tables)
                        {
                            if (table.Columns.Contains("Label"))
                            {
                                @foreach (DataColumn col in table.Columns)
                                {
                                    if (col.ColumnName != "Msg")
                                    {
                                        foreach (DataRow row in table.Rows)
                                        {
                                            <p class="text-center"><b>@row[col]</b></p>
                                        }
                                    }

                                }
                            }
                            else
                            {
                                <div style="height:200px" class="table-responsive overflow-auto">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr style="page-break-inside:avoid">
                                                <th style="text-align:left;width:50px"></th>

                                                @foreach (DataColumn col in table.Columns)
                                                {

                                                    if (!col.ColumnName.Contains("id"))
                                                    {
                                                        <th style="text-align:left">@col.ColumnName</th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow row in table.Rows)
                                            {
                                                <tr style="page-break-inside:avoid">
                                                    <td><a href="@Url.Action("FindPoint","Admin", new { idsite = row["idsite"] })">Pick</a></td>

                                                    @foreach (DataColumn col in table.Columns)
                                                    {
                                                        if (!col.ColumnName.Contains("id"))
                                                        {
                                                            if (@row[col].ToString().Contains("https://s3"))
                                                            {
                                                                <td><a href="@row[col]" target="_blank">View</a></td>
                                                            }
                                                            else
                                                            {
                                                                <td>@row[col]</td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            }
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>

        

        function onButtonClick() {
            let filters = [];

            let options = {};
            options.acceptAllAdvertisements = true;


            try {
                console.log('Requesting Bluetooth Scan with options: ' + JSON.stringify(options));
                const scan = navigator.bluetooth.requestLEScan(options);

                console.log('Scan started with:');
                console.log(' acceptAllAdvertisements: ' + scan.acceptAllAdvertisements);
                console.log(' active: ' + scan.active);
                console.log(' keepRepeatedDevices: ' + scan.keepRepeatedDevices);
                console.log(' filters: ' + JSON.stringify(scan.filters));

                navigator.bluetooth.addEventListener('advertisementreceived', event => {
                    console.log('Advertisement received.');
                    console.log('  Device Name: ' + event.device.name);
                    console.log('  Device ID: ' + event.device.id);
                    console.log('  RSSI: ' + event.rssi);
                    console.log('  TX Power: ' + event.txPower);
                    console.log('  UUIDs: ' + event.uuids);
                    event.manufacturerData.forEach((valueDataView, key) => {
                        logDataView('Manufacturer', key, valueDataView);
                    });
                    event.serviceData.forEach((valueDataView, key) => {
                        logDataView('Service', key, valueDataView);
                    });
                });

                setTimeout(stopScan, 10000);
                function stopScan() {
                    console.log('Stopping scan...');
                    scan.stop();
                    console.log('Stopped.  scan.active = ' + scan.active);
                }
            } catch (error) {
                console.log('Argh! ' + error);
            }
        }

        /* Utils */

        const logDataView = (labelOfDataSource, key, valueDataView) => {
            const hexString = [...new Uint8Array(valueDataView.buffer)].map(b => {
                return b.toString(16).padStart(2, '0');
            }).join(' ');
            const textDecoder = new TextDecoder('ascii');
            const asciiString = textDecoder.decode(valueDataView.buffer);
            console.log(`  ${labelOfDataSource} Data: ` + key +
                '\n    (Hex) ' + hexString +
                '\n    (ASCII) ' + asciiString);
        };
    </script>
}