﻿@using System.Data
@model DataSet

@{
    ViewData["Title"] = "Welcome Page";
    IFMApps.Dtos.AttendDto AttendDto = new IFMApps.Dtos.AttendDto();
}

<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6  widthdesktop">
            <div class="card">
                <div class="card-body removemargin">
                    @{
                        if (Model.Tables.Count >= 2 && Model.Tables.Contains("DT1"))
                        {
                            AttendDto = Model.Tables[0].AsEnumerable()
                            .Select(dataRow => new IFMApps.Dtos.AttendDto
                {
                    Pers = dataRow.Field<string>("Pers"),
                    Label = dataRow.Field<string>("Label"),
                    Timein = dataRow.Field<string>("Timein"),
                    Timeout = dataRow.Field<string>("Timeout"),
                    idroute = dataRow.Field<string>("idroute"),
                }).FirstOrDefault();


                            foreach (DataTable table in Model.Tables)
                            {
                                if (table.TableName == "DT1")
                                {
                                    <p><b>@AttendDto.Label</b></p>

                                    if (string.IsNullOrEmpty(AttendDto.Timein))
                                    {
                                        <button class="btn btn-sm btn-primary" onclick="clockIn()"><b>Clockin</b></button>
                                    }
                                    else if (!string.IsNullOrEmpty(AttendDto.Timein) && string.IsNullOrEmpty(AttendDto.Timeout))
                                    {
                                        <button class="btn btn-sm btn-primary" onclick="clockOut()"><b>Clockout</b></button>
                                    }
                                    if (!string.IsNullOrEmpty(AttendDto.idroute))
                                    {
                                        if (Convert.ToInt32(AttendDto.idroute) > 0)
                                        {
                                            <a href="@Url.Action("Patrol","Pers")" class="btn btn-sm btn-primary"><b>Patrol</b></a>
                                        }
                                    }

                                    <a href="@Url.Action("Leave","Pers")" class="btn btn-sm btn-primary"><b>Leave</b></a>
                                    <a href="@Url.Action("PersAvail","Pers")" class="btn btn-sm btn-primary"><b>Pick Slot</b></a>
                                    <a href="@Url.Action("SiteGuide","Pers")" class="btn btn-sm btn-primary"><b>More</b></a>
                                    <hr />
                                }
                                else
                                {
                                    <div style="height:200px" class="table-responsive overflow-auto">

                                        <table class="table table-bordered">
                                            <thead>
                                                <tr style="page-break-inside:avoid">
                                                    @foreach (DataColumn col in table.Columns)
                                                    {
                                                        <th style="text-align:left">@col.ColumnName</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (DataRow row in table.Rows)
                                                {
                                                    <tr style="page-break-inside:avoid">
                                                        @foreach (DataColumn col in table.Columns)
                                                        {

                                                            <td>@row[col]</td>

                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <br />

                                }
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("Leave","Pers")" class="btn btn-sm btn-primary"><b>Leave</b></a>
                            <a href="@Url.Action("PersAvail","Pers")" class="btn btn-sm btn-primary"><b>Pick Slot</b></a>
                            <hr />
                            foreach (DataTable table in Model.Tables)
                            {
                                <div style="height:200px" class="table-responsive overflow-auto">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr style="page-break-inside:avoid">
                                                @foreach (DataColumn col in table.Columns)
                                                {
                                                    <th style="text-align:left">@col.ColumnName</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow row in table.Rows)
                                            {
                                                <tr style="page-break-inside:avoid">
                                                    @foreach (DataColumn col in table.Columns)
                                                    {

                                                        <td>@row[col]</td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <br />

                            }

                        }
                    }

                </div>
            </div>

        </div>
    </div>
</div>
<!-- The modal -->
<div class="modal fade" id="modalCameraQR">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-center"><b><span id="ActionScan"></span></b></h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div style="width:100%" id="reader"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" onclick="closeScanner()">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalCameraSelfie">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-center"><b>Selfie Picture</b></h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <video id="videoElement" style="width:100%" autoplay></video>
            </div>
            <div class="modal-footer">
                <button onclick="OnTakeSelfiePhoto()" class="btn btn-primary">Take Selfie</button>
            </div>

        </div>
    </div>
</div>
@Html.Hidden("Latitude")
@Html.Hidden("Longitude")
@section Scripts{
    <script src="~/js/openstreetmap.js"></script>
    <script src="~/js/qrscanner.js"></script>
    <script src="~/js/getlocation.js"></script>
    <script src="~/js/cameraselfie.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#modalCameraQR').modal({
                backdrop: 'static',
                keyboard: false
            });

            $('#modalCameraSelfie').modal({
                backdrop: 'static',
                keyboard: false
            });
        })

        function takeSelfie() {
            accesCamera();
            $("#modalCameraSelfie").modal("show");
        }
        function closeSelfie() {
            stopAccessCamera();
            $("#modalCameraSelfie").modal("hide");
        }
        function closeScanner() {
            html5QrCode.stop();
            $("#modalCameraQR").modal("hide");
        }

        function clockIn() {
            $("#ActionScan").html("");
            $("#ActionScan").html("Clock In (Scan QR / Tap NFC)");
            $("#modalCameraQR").modal("show");
            html5QrCode.start({ facingMode: "environment" }, config, onScanSuccessClockIn);
            removeScanWithFile();
            GetLocation();
            scanNFCClockIn();
        }

        function clockOut() {
            $("#ActionScan").html("");
            $("#ActionScan").html("Clock Out (Scan QR / Tap NFC)");
            $("#modalCameraQR").modal("show");
            html5QrCode.start({ facingMode: "environment" }, config, onScanSuccessClockOut);
            removeScanWithFile();
            GetLocation();
            scanNFCClockOut();
        }

        function SwalAlertTakeSelfieAfter(Title, Message, Type) {
            swal({
                title: Title,
                text: Message,
                icon: Type
            }).then((value) => {
                takeSelfie();
            });;
        }


         function scanNFCClockIn() {

            if ("NDEFReader" in window) {
                try {
                    const abortController = new AbortController();
                    const ndef = new NDEFReader();
                     ndef.scan({ signal: abortController.signal });

                    ndef.addEventListener("readingerror", () => {
                        SwalAlert("Clock In", "Cannot read data from the NFC tag. Try another one?", "error")
                    });

                    ndef.addEventListener("reading", ({ message, serialNumber }) => {
                        console.log(serialNumber);
                        $.ajax({
                            url: '@Url.Action("Clockin", "Pers")',
                            type: 'POST',
                            data: { QROrNFC: serialNumber, lng: $("#Longitude").val(), lat: $("#Latitude").val(), DateTime: GetDateTimeFormat() },
                            dataType: "JSON",
                            success: function (data) {
                                abortController.abort();
                                console.log(data);
                                if (data.msg == "OK") {
                                    SwalAlertTakeSelfieAfter(data.msg, data.msg2, 'success');
                                }
                                else {
                                    SwalAlertLocationReload(data.msg, data.msg2, 'error');
                                }
                            }
                        });

                    });
                } catch (error) {
                    SwalAlert("Clock In", "error : " + error, "error")
                }
            } else {
                SwalAlert("Clock In", "your devices / browser not supported NFC scanning , you can do Scan QR for clock in or use supported NFC devices for scan NFC", "info")
            }
        }

         function scanNFCClockOut() {

            if ("NDEFReader" in window) {
                try {
                    const abortController = new AbortController();
                    const ndef = new NDEFReader();
                     ndef.scan({ signal: abortController.signal });

                    ndef.addEventListener("readingerror", () => {
                        SwalAlert("Clock In", "Cannot read data from the NFC tag. Try another one?", "error")
                    });

                    ndef.addEventListener("reading", ({ message, serialNumber }) => {
                        console.log(serialNumber);
                        $.ajax({
                            url: '@Url.Action("ClockOut", "Pers")',
                            type: 'POST',
                            data: { QROrNFC: serialNumber, lng: $("#Longitude").val(), lat: $("#Latitude").val(), DateTime: GetDateTimeFormat() },
                            dataType: "JSON",
                            success: function (data) {
                                abortController.abort();
                                console.log(data);
                                if (data.msg == "OK") {
                                    SwalAlertTakeSelfieAfter(data.msg, data.msg2, 'success');
                                }
                                else {
                                    SwalAlertLocationReload(data.msg, data.msg2, 'error');
                                }
                            }
                        });

                    });
                } catch (error) {
                    SwalAlert("Clock Out", "error : " + error, "error")
                }
            } else {
                SwalAlert("Clock Out", "your devices / browser not supported NFC scanning , you can do Scan QR for clock out or use supported NFC devices for scan NFC", "info")
            }
        }

        function onScanSuccessClockIn(qrCodeMessage) {
            setVisible('#loading', true, null);

            console.log(`QR matched = ${qrCodeMessage}`);
            console.log($("#Longitude").val())
            console.log($("#Latitude").val())

            html5QrCode.stop();
            $("#modalCameraQR").modal("hide");


            $.ajax({
                url: '@Url.Action("Clockin", "Pers")',
                type: 'POST',
                data: { QROrNFC: `${qrCodeMessage}`, lng: $("#Longitude").val(), lat: $("#Latitude").val(), dateTime: GetDateTimeFormat() },
                dataType: "JSON",
                success: function (data) {
                    console.log(data);
                    if (data.msg == "OK") {
                        SwalAlertTakeSelfieAfter('Clockin Success', data.msg2, 'success');
                    }
                    else {
                        SwalAlertLocationReload('Clockin failed', data.msg2, 'error');
                    }
                }
            });
            setVisible('#loading', false, null);

        }


        function OnTakeSelfiePhoto() {
            setVisible('#loading', true, null);

            const canvas = document.createElement('canvas');
            canvas.width = videoElement.videoWidth;
            canvas.height = videoElement.videoHeight;
            const ctx = canvas.getContext('2d');
            ctx.drawImage(videoElement, 0, 0, canvas.width, canvas.height);
            const dataURL = canvas.toDataURL();



            stopAccessCamera();
            $("#modalCameraSelfie").modal("hide");

            $.ajax({
                url: '@Url.Action("TakeSelfie", "Pers")',
                type: 'POST',
                data: { image: dataURL },
                dataType: "JSON",
                success: function (data) {
                    console.log(data);
                    if (data.msg == "OK") {
                        SwalAlertLocationReload('Selfie Success', data.msg2, 'success');
                    }
                    else {
                        SwalAlertLocationReload('Selfie failed', data.msg2, 'error');
                    }
                }
            });
            setVisible('#loading', false, null);

        }

        function onScanSuccessClockOut(qrCodeMessage) {
            setVisible('#loading', true, null);

            console.log(`QR matched = ${qrCodeMessage}`);
            console.log($("#Longitude").val())
            console.log($("#Latitude").val())

            html5QrCode.stop();
            $("#modalCameraQR").modal("hide");
            $.ajax({
                url: '@Url.Action("Clockout", "Pers")',
                type: 'POST',
                data: { QROrNFC: `${qrCodeMessage}`, lng: $("#Longitude").val(), lat: $("#Latitude").val(), dateTime: GetDateTimeFormat() },
                dataType: "JSON",
                success: function (data) {
                    console.log(data);
                    if (data.msg == "OK") {
                        SwalAlertTakeSelfieAfter('Clockout Success', data.msg2, 'success');
                    }
                    else {
                        SwalAlertLocationReload('Clockout failed', data.msg2, 'error');
                    }
                }
            });
            setVisible('#loading', false, null);



        }



    </script>
}

