﻿@model IFMApps.Helpers.LeaveSubmissionParam
@{
    ViewData["Title"] = "Leave Page";

}
<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">
            <div class="card">
                <div class="card-header">
                    <h4>Apply For Leave</h4>
                </div>
                <div class="card-body removemargin">
                    @using (Html.BeginForm("Leave", "Pers", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="username">Leave Type:</label>
                            @Html.DropDownListFor(o=>o.LeaveType,ViewBag.Site as List<SelectListItem>, new { @class="form-control" , @style = "width:100%"})
                        </div>
                        <div class="form-group">
                            <label for="password">From:</label>
                            @Html.TextBoxFor(o=>o.LeaveFrom, new { @class="form-control",@id="datepickerLeaveFrom",@readonly="readonly" , @required = "required" })
                            @Html.ValidationMessageFor(o=>o.LeaveFrom,"", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="password">To:</label>
                            @Html.TextBoxFor(o=>o.LeaveTo, new { @class="form-control",@id="datepickerLeaveTo", @readonly="readonly", @required = "required" })
                            @Html.ValidationMessageFor(o=>o.LeaveTo,"", new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>            <a href="@Url.Action("Index","Pers")" class="btn btn-primary">Back</a>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script>
        $("#datepickerLeaveFrom").datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });

        $("#datepickerLeaveFrom").on("change", function () {
            const startDate = new Date($("#datepickerLeaveFrom").val());
            console.log(startDate)
            $("#datepickerLeaveTo").datepicker({
                minDate: startDate,
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });




    </script>
}

