﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">
            <div class="card">
                <div class="card-header">
                    <h4>Scan NFC Test</h4>
                </div>
                <div class="card-body removemargin">
                    <div><p>Please Click Scan NFC to start Scan!!</p></div>
                    <ul>
                        <li>Longitude : <span id="lng"></span></li>
                        <li>Latitude : <span id="lat"></span></li>
                        <li>NFC SerialID : <span id="serialID"></span></li>

                    </ul>
                    <hr />
                    <div class="text-center">
                        <button type="button" class="btn btn-success" onclick="StartScan()">Scan NFC</button>
                        <a href="@Url.Action("Login","Account")" class="btn btn-success">Close</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("Latitude")
@Html.Hidden("Longitude")
@section Scripts{
    <script src="~/js/openstreetmap.js"></script>
    <script src="~/js/getlocation.js"></script>
    <script>

        function StartScan() {
            swal({
                title: 'Scan NFC',
                text: 'Tab your NFC card ',
                icon: 'info',
                timer: 999999,
                buttons: false,
                allowOutsideClick: false
            })

            GetLocation();
            ScanNFCReader();
        }

        function ScanNFCReader() {
            if ("NDEFReader" in window) {
                try {
                    const abortController = new AbortController();
                    const ndef = new NDEFReader();
                    ndef.scan({ signal: abortController.signal });

                    ndef.addEventListener("readingerror", () => {
                        SwalAlert("NFC Tag", "Cannot read data from the NFC tag. Try another one?", "error")
                    });

                    ndef.addEventListener("reading", ({ message, serialNumber }) => {
                        console.log(serialNumber);
                        var lng = $("#Longitude").val();
                        var lat = $("#Latitude").val();
                        $("#lng").html(lng);
                        $("#lat").html(lat);
                        $("#serialID").html(serialNumber);
                        SwalAlert("NFC Tag", "your nfc id : " + serialNumber + " lng : " + lng + " lat : " + lat, "success")
                        abortController.abort();

                    });

                } catch (error) {
                    SwalAlert("NFC Tag", "error : " + error, "error")
                }
            } else {
                SwalAlert("NFC Tag", "your devices / browser not supported NFC scanning , you can do Scan QR for clock in or use supported NFC devices for scan NFC", "info")
            }
        }


    </script>
}