﻿@using System.Data

@model DataSet
@{
    ViewData["Title"] = "Patrol Page";

}
<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">

            <div class="card">
                <div class="card-body removemargin">
                    <button class="btn btn-sm btn-primary" onclick="scanPatrolPoint()"><b>SCAN</b></button>

                    <a href="@Url.Action("ReportIncident","Pers")" class="btn btn-sm btn-primary"><b>Report Incident</b></a>
                    <a href="@Url.Action("Index","Pers")" class="btn btn-sm btn-primary"><b>Back</b></a>


                    <hr />
                    @{
                        foreach (DataTable table in Model.Tables)
                        {
                            if (table.Columns.Contains("Label"))
                            {
                                @foreach (DataColumn col in table.Columns)
                                {
                                    if (col.ColumnName != "Msg")
                                    {
                                        foreach (DataRow row in table.Rows)
                                        {
                                            <p class="text-center"><b>@row[col]</b></p>
                                        }
                                    }

                                }
                            }
                            else if (table.TableName == "DT1")
                            {
                                <div style="height:200px" class="table-responsive overflow-auto">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr style="page-break-inside:avoid">
                                                @foreach (DataColumn col in table.Columns)
                                                {
                                                    if (col.ColumnName.ToLower() == "time" || col.ColumnName.ToLower() == "name")
                                                    {
                                                        <th style="text-align:left">@col.ColumnName</th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow row in table.Rows)
                                            {
                                                <tr style="page-break-inside:avoid">
                                                    @foreach (DataColumn col in table.Columns)
                                                    {
                                                        if (col.ColumnName.ToLower() == "time" || col.ColumnName.ToLower() == "name")
                                                        {
                                                            <td>@row[col]</td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            }
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<!-- The modal -->
<div class="modal fade" id="modalCameraQR">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-center"><b>Scan QR Or Tap NFC</b></h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div style="width:100%" id="reader"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" onclick="closeScanner()">Close</button>
            </div>

        </div>
    </div>
</div>

@Html.Hidden("Latitude")
@Html.Hidden("Longitude")
@section Scripts{
    <script src="~/js/openstreetmap.js"></script>
    <script src="~/js/qrscanner.js"></script>
    <script src="~/js/getlocation.js"></script>
    <script type="text/javascript">

        var bluetoothDevice;

        function scanPatrolPoint() {

            $("#modalCameraQR").modal("show");
            html5QrCode.start({ facingMode: "environment" }, config, onScanSuccessPatrol);
            removeScanWithFile();
            GetLocation();
            scanNFCPatrolPoint();
        }

        function scanNFCPatrolPoint() {

            if ("NDEFReader" in window) {
                try {
                    const abortController = new AbortController();
                    const ndef = new NDEFReader();
                    ndef.scan({ signal: abortController.signal });

                    ndef.addEventListener("readingerror", () => {
                        SwalAlert("Scan Patrol", "Cannot read data from the NFC tag. Try another one?", "error")
                    });

                    ndef.addEventListener("reading", ({ message, serialNumber }) => {
                        console.log(serialNumber);
                        $.ajax({
                            url: '@Url.Action("ScanPatrol", "Pers")',
                            type: 'POST',
                            data: { QROrNFC: serialNumber, lng: $("#Longitude").val(), lat: $("#Latitude").val(), DateTime: GetDateTimeFormat() },
                            dataType: "JSON",
                            success: function (data) {
                                abortController.abort();
                                console.log(data);
                                if (data.msg == "OK") {
                                    SwalAlertLocationReload(data.msg, data.msg2, 'success');
                                }
                                else {
                                    SwalAlertLocationReload(data.msg, data.msg2, 'error');
                                }

                                setInterval(function () {
                                    location.reload();
                                }, 5000);
                            }
                        });

                    });
                } catch (error) {
                    SwalAlert("Scan NFC", "error : " + error, "error")
                }
            } else {
                SwalAlert("Scan Patrol", "your devices / browser not supported NFC scanning , you can do Scan QR for patrol or use supported NFC devices for scan NFC", "info")
            }
        }

        function closeScanner() {
            html5QrCode.stop();
            $("#modalCameraQR").modal("hide");
        }
        function onScanSuccessPatrol(qrCodeMessage) {

            console.log(`QR matched = ${qrCodeMessage}`);
            console.log($("#Longitude").val())
            console.log($("#Latitude").val())

            html5QrCode.stop();

            $.ajax({
                url: '@Url.Action("ScanPatrol", "Pers")',
                type: 'POST',
                data: { QROrNFC: `${qrCodeMessage}`, lng: $("#Longitude").val(), lat: $("#Latitude").val(), DateTime: GetDateTimeFormat() },
                dataType: "JSON",
                success: function (data) {
                    console.log(data);
                    if (data.msg == "OK") {
                        SwalAlertLocationReload(data.msg, data.msg2, 'success');
                        setInterval(function () {
                            location.reload();
                        }, 5000);
                        return true;
                    }
                    else {
                        SwalAlertLocationReload(data.msg, data.msg2, 'error');
                        setInterval(function () {
                            location.reload();
                        }, 5000);
                        return false;
                    }
                }
            });




            //$.ajax({
            //    url: '@Url.Action("GetNextPoint", "Pers")',
            //    type: 'POST',
            //    dataType: "JSON",
            //    success: function (data) {
            //        var dataPointJson = JSON.parse(data);
            //        console.log(dataPointJson);
            //        if (dataPointJson.DT1.length > 0) {
            //            dataPointJson.DT1.forEach(function (item) {
            //                if (item.QR == `${qrCodeMessage}`) {
            //                    console.log(item);

            //                } else {
            //                    console.log(item.QR)
            //                    console.log(qrCodeMessage)
            //                }
            //            });
            //            SwalAlertLocationReload("Scan Patrol", "The QR code you scanned does not match your current patrol route.", 'error');
            //            setInterval(function () {
            //                location.reload();
            //            }, 5000);
            //            return false;
            //        } else {
            //            swal({
            //                title: "Quiet Protect",
            //                text: "End Of Patrol Point",
            //                icon: "info"
            //            }).then((value) => {
            //                window.location.href = "/IFMApp/Pers/Index";
            //            });;
            //            return true;

            //        }
            //    }
            //});





        }


    </script>
}