﻿@using System.Data

@model DataSet
@{
    ViewData["Title"] = "Available Pers";

}
<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">
            <a href="@Url.Action("Index","Pers")" class="btn btn-primary"><b>Back</b></a>

            <hr />
            @{
                if (Model.Tables.Count > 0)
                {
                    foreach (DataTable table in Model.Tables)
                    {
                        if (table.Columns.Contains("Msg"))
                        {
                            @foreach (DataColumn col in table.Columns)
                            {
                                foreach (DataRow row in table.Rows)
                                {
                                    <p class="text-center"><b>@row[col]</b></p>
                                }
                            }
                        }
                        else
                        {
                            <div style="height:500px" class="table-responsive overflow-auto">

                                <table class="table table-bordered">
                                    <thead>
                                        <tr style="page-break-inside:avoid">
                                            <td></td>
                                            @foreach (DataColumn col in table.Columns)
                                            {
                                                if (col.ColumnName != "idattend")
                                                {
                                                    <th style="text-align:left">@col.ColumnName</th>

                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DataRow row in table.Rows)
                                        {
                                            <tr style="page-break-inside:avoid">
                                                <td><a href="@Url.Action("TakeAttend","Pers", new { idAttend = @row["idattend"]})">Take</a></td>
                                                @foreach (DataColumn col in table.Columns)
                                                {

                                                    if (col.ColumnName != "idattend")
                                                    {
                                                        <td>@row[col]</td>

                                                    }
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        }
                    }

                }
                else
                {
                    <h5>No Slot Available !</h5>
                }
            }

        </div>
    </div>
</div>
