﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">
            <div class="card">
                <div class="card-header">
                    <h4>Scan QR Test</h4>
                </div>
                <div class="card-body removemargin">
                    <div style="width:100%" id="reader"></div>
                    <hr />
                    <div class="text-center">
                        <a href="@Url.Action("Login","Account")" class="btn btn-success">Close</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("Latitude")
@Html.Hidden("Longitude")
@section Scripts{
    <script src="~/js/openstreetmap.js"></script>
    <script src="~/js/qrscanner.js"></script>
    <script src="~/js/getlocation.js"></script>
    <script type="text/javascript">
        startScanner()
        function startScanner() {

            html5QrCode.start({ facingMode: "environment" }, config, onScanSuccessPatrol);
            removeScanWithFile();
            GetLocation();
        }

        function stopScanner() {
            html5QrCode.stop();
        }
        function onScanSuccessPatrol(qrCodeMessage) {

            console.log(`QR matched = ${qrCodeMessage}`);
            console.log($("#Longitude").val())
            console.log($("#Latitude").val())

            html5QrCode.stop();

            $.ajax({
                url: '@Url.Action("QRScanner", "Pers")',
                type: 'POST',
                data: { qR: `${qrCodeMessage}`, lng: $("#Longitude").val(), lat: $("#Latitude").val() },
                dataType: "JSON",
                success: function (data) {
                    console.log(data);
                    SwalAlertLocationReload(data.msg, data.msg2, 'info');

                }
            });
        }




    </script>
}