﻿@model IFMApps.Helpers.ReportIncidentParam
@{
    ViewData["Title"] = "Report Fault";
}

<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">
            <div class="card">
                <div class="card-header">
                    <h4>Report Incident</h4>
                </div>
                <div class="card-body removemargin">
                    @using (Html.BeginForm("SubmitIncident", "Pers", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {

                        <div class="form-group">
                            <div class="attachment-input">
                                <button type="button" class="btn btn-secondary" style="cursor:pointer">Browse for video</button>
                                <span class="attachment-file-name">No file chosen</span>
                                <input type="file" name="File" id="inputAttachment">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Description">Description:</label>
                            @Html.TextAreaFor(o=>o.Description, new { @class="form-control" })
                            @Html.ValidationMessageFor(o=>o.Description,"", new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="@Url.Action("Patrol","Pers")" class="btn btn-primary">Back</a>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    </script>
}