﻿@using System.Data

@model DataSet
@{
    ViewData["Title"] = "Patrol Page";

}
<style>
    #googleMap {
        height: 250px;
        width: 100%;
    }

    @@media (max-width:440px) {
        #googleMap {
            height: 200px;
            width: 340px;
        }
    }

</style>
<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">


            <a href="@Url.Action("Patrol","Pers")" class="btn btn-primary"><b>Back</b></a>

            <hr />
            <div class="card">
                <div class="card-body removemargin">
                    <h4 style="margin-bottom:10px">Quiet Protect</h4>
                    @{
                        foreach (DataTable table in Model.Tables)
                        {
                            if (table.Columns.Contains("Label"))
                            {
                                @foreach (DataColumn col in table.Columns)
                                {
                                    if (col.ColumnName != "Msg")
                                    {
                                        foreach (DataRow row in table.Rows)
                                        {
                                            <p class="text-center"><b>@row[col]</b></p>
                                        }
                                    }

                                }
                            }
                            else if (table.TableName == "DT1")
                            {
                                <div style="height:200px" class="table-responsive overflow-auto">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr style="page-break-inside:avoid">
                                                @foreach (DataColumn col in table.Columns)
                                                {
                                                    if (col.ColumnName.ToLower() == "time" || col.ColumnName.ToLower() == "name")
                                                    {
                                                        <th style="text-align:left">@col.ColumnName</th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow row in table.Rows)
                                            {
                                                <tr style="page-break-inside:avoid">
                                                    @foreach (DataColumn col in table.Columns)
                                                    {
                                                        if (col.ColumnName.ToLower() == "time" || col.ColumnName.ToLower() == "name")
                                                        {
                                                            <td>@row[col]</td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            }
                        }
                    }
                    @using (Html.BeginForm("SilentPatrol", "Pers", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" value="true" name="IsSkip">
                        <button type="submit" class="btn btn-primary">Skip</button>
                    }
                    <hr />
                    <div id="googleMap"></div>

                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("Latitude")
@Html.Hidden("Longitude")
@section Scripts{


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.4.0/ol.css">
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.4.0/dist/ol.js"></script>

    <script type="text/javascript">

        var map = new ol.Map({
            target: 'googleMap',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([0, 0]), // Set an initial center
                zoom: 16 // Set an initial zoom level
            })
        });

        setInterval(function () {
            SilentPatrol(map)
        }, 5000);

        var tileLayer = new ol.layer.Tile({
            source: new ol.source.OSM()
        });
        map.addLayer(tileLayer);



        function SilentPatrol(map) {
            var baseUrl = window.location.protocol + '//' + window.location.host;

            if ('geolocation' in navigator) {
                navigator.geolocation.getCurrentPosition(
                    function (position) {
                        var latitude = position.coords.latitude;
                        var longitude = position.coords.longitude;
                        var currentLocation = {};

                        currentLocation = { "lat": latitude, "lng": longitude, "image": 'marker_current.png', "QR": 99999 };

                        console.log(currentLocation)
                        map.getView().setCenter(ol.proj.fromLonLat([longitude, latitude]));
                        map.getView().setZoom(16);


                        makeAjaxRequest(baseUrl + '@Url.Action("GetNextPoint", "Pers")', function (error, response) {
                            if (error) {
                                console.error('Error:', error);
                            } else {
                                var dataPointJson = JSON.parse(response);
                                const pointLocation = [];
                                console.log(dataPointJson)
                                if (dataPointJson.DT1.length > 0) {
                                    dataPointJson.DT1.forEach(function (item) {
                                        var pointlatlng = { lat: item.lat, lng: item.lng, image: 'marker_point.png', QR: item.QR };
                                        pointLocation.push(pointlatlng)
                                    });
                                } else {
                                    swal({
                                        title: "Quiet Protect",
                                        text: "End Of Patrol Point",
                                        icon: "info"
                                    }).then((value) => {
                                        window.location.href = "/IFMApp/Pers/Index";
                                    });;
                                }

                                var tollerance = 0.002

                                setMarkerMap(currentLocation, map)

                                console.log(pointLocation)

                                var locationNeedToScan = pointLocation[0]

                                var difflng = Math.abs(locationNeedToScan.lng - currentLocation.lng);
                                var difflat = Math.abs(locationNeedToScan.lat - currentLocation.lat);

                                if (difflng < tollerance && difflat < tollerance) {
                                    ScanPatrol(locationNeedToScan.QR, locationNeedToScan.lng, locationNeedToScan.lat)
                                    console.log(difflng, difflat)
                                }

                                setMarkerMap(locationNeedToScan, map);


                                //pointLocation.forEach(function (marker) {
                                //})

                            }
                        });
                    },
                    function (error) {
                        console.error('Error getting the current location:', error);
                    }
                );
            } else {
                console.error('Geolocation is not supported by your browser.');
            }
        }


        function setMarkerMap(marker, map) {
            var iconStyle = new ol.style.Style({
                image: new ol.style.Icon({
                    src: marker.image,
                    scale: 1
                })
            });

            var markerFeature = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([marker.lng, marker.lat]))
            });

            markerFeature.setStyle(iconStyle);

            var markerLayer = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: [markerFeature]
                })
            });

            map.addLayer(markerLayer);
        }

        function ScanPatrol(qrCode, longitude, latitude) {

            $.ajax({
                url: '@Url.Action("ScanPatrol2", "Pers")',
                type: 'POST',
                data: { qR: qrCode, lng: longitude, lat: latitude, dateTime: GetDateTimeFormat() },
                dataType: "JSON",
                success: function (data) {
                    console.log(data);
                    if (data.msg != "OK") {
                        SwalAlert('Scan Patrol failed', data.msg2, 'error');
                    }
                }
            });
        }

        function makeAjaxRequest(url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        callback(null, response);
                    } else {
                        callback(xhr.status);
                    }
                }
            };
            xhr.open('POST', url, true);
            xhr.send();
        }



    </script>
}