﻿@using System.Data

@model DataSet
@{
    ViewData["Title"] = "Site Guide";

}
<div class="container removemargincontainer">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 widthdesktop">

            <div class="card">
                <div class="card-body removemargin">

                    <a href="@Url.Action("ChangePassword","Account")" class="btn btn-sm btn-primary"><b>Change Password</b></a>


                    <a href="@Url.Action("Index","Pers")" class="btn btn-sm btn-primary"><b>Back</b></a>

                    <hr />
                    <h5>Site Guide</h5>

                    @{
                        foreach (DataTable table in Model.Tables)
                        {
                            if (table.Columns.Contains("Label"))
                            {
                                @foreach (DataColumn col in table.Columns)
                                {
                                    if (col.ColumnName != "Msg")
                                    {
                                        foreach (DataRow row in table.Rows)
                                        {
                                            <p class="text-center"><b>@row[col]</b></p>
                                        }
                                    }

                                }
                            }
                            else
                            {
                                <div style="height:200px" class="table-responsive overflow-auto">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr style="page-break-inside:avoid">
                                                @foreach (DataColumn col in table.Columns)
                                                {
                                                    <th style="text-align:left">@col.ColumnName</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow row in table.Rows)
                                            {
                                                <tr style="page-break-inside:avoid">
                                                    @foreach (DataColumn col in table.Columns)
                                                    {
                                                        if (@row[col].ToString().Contains("https://s3"))
                                                        {
                                                            <td><a href="@row[col]" target="_blank">View</a></td>
                                                        }
                                                        else
                                                        {
                                                            <td>@row[col]</td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            }
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>